html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  /*===== COLORS =====*/
  --clr-white: hsl(0, 100%, 100%);
  --clr-transparent: hsla(240, 50%, 30%, 0.6);
  --clr-blue-grey-50: hsl(240 31% 95%);
  --clr-blue-grey-100: hsl(240, 31%, 90%);
  --clr-blue-grey-800: hsl(240, 31%, 15%);
  --clr-blue-grey-600: hsl(240, 31%, 35%);
  --clr-blue-grey-900: hsl(240, 31%, 10%);
  --clr-red-500: hsl(0 100% 50%);
  --shadow-clr: rgba(0, 0, 0, 0.2);
  /*====== FONTS ======*/
  --font-berkshire: "Berkshire Swash", cursive;
  --font-abezee: "AbeeZee", cursive;
  --font-Kurale: "Kurale", serif;
  /*===== FONT WEIGHTS =====*/
  --font-wt-400: 400;
  --font-wt-500: 500;
  /*====== BORDER RADIUS ======*/
  --radius-4: 4px;
  --radius-5: 5px;
  --radius-6: 6px;
  --radius-16: 16px;
}

body {
  background: linear-gradient(235deg, #ffffff 0%, #000f25 100%), linear-gradient(180deg, #6100ff 0%, #000000 100%), linear-gradient(235deg, #ffa3ac 0%, #ffa3ac 40%, #00043c calc(40% + 1px), #00043c 60%, #005d6c calc(60% + 1px), #005d6c 70%, #00c9b1 calc(70% + 1px), #00c9b1 100%), linear-gradient(125deg, #ffa3ac 0%, #ffa3ac 40%, #00043c calc(40% + 1px), #00043c 60%, #005d6c calc(60% + 1px), #005d6c 70%, #00c9b1 calc(70% + 1px), #00c9b1 100%);
  background-blend-mode: soft-light, screen, darken, normal;
  background-attachment: fixed;
  min-height: 100vh;
  font: var(--font-wt-400) 1rem/160% var(--font-abezee);
  padding: 2rem 1rem;
}

/*====== SCROLLBAR STYLING =======*/
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-blue-grey-600);
  border-radius: var(--radius-4);
}

::-webkit-scrollbar-track {
  background-color: var(--clr-white);
  -webkit-box-shadow: 1px 1px 2px 0 var(--clr-blue-grey-600) inset;
          box-shadow: 1px 1px 2px 0 var(--clr-blue-grey-600) inset;
}

::-webkit-scrollbar-button {
  background-color: var(--clr-blue-grey-600);
}

/*====== MEMORIES CONTAINER STYLING =======*/
.memories--container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.memories__container--title {
  background-color: var(--clr-white);
  color: Var(--clr-blue-grey-800);
  text-align: center;
  padding: 0.75rem;
  border-radius: var(--radius-6);
  margin-bottom: 1rem;
  font-size: 2.3rem;
  font-family: var(--font-berkshire);
  letter-spacing: 1px;
  -webkit-box-shadow: 0 0 3px 1px var(--shadow-clr);
          box-shadow: 0 0 3px 1px var(--shadow-clr);
}

.memories__cards--container {
  width: 72%;
}

/*======== CARDS STYLING ========*/
.memories__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
}

.card {
  -ms-flex-preferred-size: calc(33.33% - 0.55rem);
      flex-basis: calc(33.33% - 0.55rem);
  min-width: 270px;
  position: relative;
  background-color: var(--clr-white);
  border-radius: var(--radius-16);
  -webkit-box-shadow: 0 0 3px 1px var(--shadow-clr);
          box-shadow: 0 0 3px 1px var(--shadow-clr);
}

.card picture > * {
  width: 100%;
  max-height: 12rem;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: var(--radius-16);
  border-top-left-radius: var(--radius-16);
}

.card__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 0.75rem;
  background-color: var(--clr-transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: var(--radius-16);
  border-top-left-radius: var(--radius-16);
}

.card__author {
  color: var(--clr-white);
  font-family: var(--font-Kurale);
}

.card__author h3 {
  letter-spacing: 1px;
  line-height: 1.3rem;
}

.card__author h5 {
  line-height: 1.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

.card__btn {
  background: none;
  border: none;
}

.card__btn i,
.card__btn ion-icon {
  font-size: 1.2rem;
  color: var(--clr-white);
}

.card__btn i {
  margin-right: 0.25rem;
}

.card__btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card__body {
  padding: 0.5rem 0.5rem 0;
}

.card__body p {
  font-size: 0.9rem;
  color: var(--clr-blue-grey-900);
  line-height: 1.25rem;
  font-weight: var(--font-wt-500);
}

.card__tags {
  margin-bottom: 0.75rem;
}

.card__title {
  font-family: var(--font-berkshire);
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
}

.card__message {
  margin-bottom: 0.5rem;
  font-size: 0.96rem !important;
}

.card__like--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.35rem;
  background-color: var(--clr-blue-grey-800);
  font-family: inherit;
  width: 100%;
  font-size: 1.1rem;
  border: none;
  border-bottom-right-radius: var(--radius-16);
  border-bottom-left-radius: var(--radius-16);
  color: var(--clr-white);
  letter-spacing: 0.5px;
}

.card__like--btn i {
  margin-right: 0.35rem;
  font-size: 1.35rem;
}

.card__like--btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

/*========= FORM STYLING ==========*/
.form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: var(--clr-white);
  padding: 1rem;
  border-radius: var(--radius-4);
  -webkit-box-shadow: 0 0 3px 1px var(--shadow-clr);
          box-shadow: 0 0 3px 1px var(--shadow-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form legend {
  font-family: var(--font-berkshire);
  color: var(--clr-blue-grey-800);
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}

.form__group {
  position: relative;
}

.form__input {
  padding: 0.6rem;
  width: 100%;
  font-size: 1rem;
  background: none;
  outline: none;
  border: 1.5px solid var(--clr-blue-grey-600);
  border-radius: var(--radius-4);
  color: var(--clr-blue-grey-600);
  font-family: inherit;
}

.form__input__label {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  color: var(--clr-blue-grey-600);
  cursor: text;
  line-height: 1.1rem;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.form__input:focus ~ .form__input__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__input__label {
  top: -0.5rem;
  left: 0.4rem;
  padding: 0 0.1rem;
  font-size: 0.7rem;
  background-color: var(--clr-white);
}

.form__submit__group button {
  width: 100%;
  padding: 0.6rem 1rem;
  background-color: var(--clr-blue-grey-600);
  border: none;
  font-family: inherit;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: Center;
      -ms-flex-align: Center;
          align-items: Center;
  color: var(--clr-white);
  border-radius: var(--radius-4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.form__submit__group button ion-icon {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.form__submit__group button:hover, .form__submit__group button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.form__file__group > input::file-selector-button {
  font-family: var(--font-abezee);
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: var(--radius-4);
  background-color: var(--clr-blue-grey-50);
  color: var(--clr-blue-grey-600);
  border: 1.5px solid var(--clr-blue-grey-600);
  -webkit-box-shadow: 0 0 5px var(--shadow-clr);
          box-shadow: 0 0 5px var(--shadow-clr);
}

.form__file__group > input::file-selector-button:hover, .form__file__group > input::file-selector-button:focus {
  cursor: pointer;
  background-color: var(--clr-blue-grey-100);
  color: var(--clr-blue-grey-900);
}

.form__file__group > input::-webkit-file-upload-button {
  font-family: var(--font-abezee);
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: var(--radius-4);
  background-color: var(--clr-blue-grey-50);
  color: var(--clr-blue-grey-600);
  border: 1.5px solid var(--clr-blue-grey-600);
  -webkit-box-shadow: 0 0 5px var(--shadow-clr);
          box-shadow: 0 0 5px var(--shadow-clr);
}

.form__file__group > input::-webkit-file-upload-button:hover, .form__file__group > input::-webkit-file-upload-button:focus {
  cursor: pointer;
  background-color: var(--clr-blue-grey-100);
  color: var(--clr-blue-grey-900);
}

.form__file__group > input::-ms-browse {
  font-family: var(--font-abezee);
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: var(--radius-4);
  background-color: var(--clr-blue-grey-50);
  color: var(--clr-blue-grey-600);
  border: 1.5px solid var(--clr-blue-grey-600);
  box-shadow: 0 0 5px var(--shadow-clr);
}

.form__file__group > input::-ms-browse:hover, .form__file__group > input::-ms-browse:focus {
  cursor: pointer;
  background-color: var(--clr-blue-grey-100);
  color: var(--clr-blue-grey-900);
}

.form__file__group input {
  font-family: inherit;
  font-size: 1rem;
  color: var(--clr-blue-grey-600);
}

.form__field--error {
  color: var(--clr-red-500);
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  display: block;
  line-height: 1rem;
}
/*# sourceMappingURL=home.css.map */