<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Rahul Kumar" />
    <meta name="contact" content="rahulkumar109422@gmail.com" />
    <meta name="robots" content="index,follow" />

    <!------------- TITLE -------------->
    <title>{{title}}</title>

    <!----------- GOOGLE FONTS ----------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Berkshire+Swash&family=Kurale&display=swap"
      rel="stylesheet"
    />

    <!---------- REMIX ICONS ------------>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!------------ ION ICONS ----------->
    <script
      type="module"
      defer
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      defer
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!----------- CUSTOM STYLESHEET ----------->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/home.css')}}"
    />

    <!------------- CUSTOM SCRIPT FILE ------------->
    <script src="{{url_for('static',filename='js/home.js')}}" defer></script>

    <!-------------- Moment.js CDN ------------->
    {{moment.include_moment()}}
  </head>

  <body>
    <main class="memories--container">
      <section class="memories__cards--container">
        <h1 class="memories__container--title">Memories</h1>
        <div class="memories__cards">
          {% for memory in memories %}
          <div class="card" id="card-{{memory.id}}">
            <div class="card__header">
              <picture>
                <source
                  srcset="{{url_for('static',filename='images/'+memory.image.split('.')[0] + '.webp')}}"
                type="image/webp"/>
                <source
                  srcset="{{url_for('static',filename='images/'+memory.image)}}"
                />
                <img
                  src="{{url_for('static',filename='images/'+memory.image)}}"
                  alt="Card Image"
                  class="card__image"
                />
              </picture>

              <div class="card__info">
                <div class="card__author">
                  <h3>{{memory.creator}}</h3>
                  <h5>{{moment(memory.created_on).fromNow(refresh=True)}}</h5>
                </div>

                <div class="card__header--btns">
                  <button class="card__edit--btn card__btn" title="Edit Memory">
                    <i class="ri-edit-box-line"></i>
                  </button>

                  <button
                    class="card__delete--btn card__btn"
                    title="Delete Memory"
                  >
                    <ion-icon name="trash-outline"></ion-icon>
                  </button>
                </div>
              </div>
            </div>

            <div class="card__body">
              <p class="card__tags">
                {% for tag in memory.tags.split(',') %}{% if tag
                %}<span>#{{tag}}</span>{% endif %} {% endfor%}
              </p>
              <h2 class="card__title">{{memory.title}}</h2>
              <p class="card__message">{{memory.message}}</p>
            </div>

            <div class="card__footer">
              <button class="card__like--btn">
                <i class="ri-heart-line"></i>
                <span>Like</span>
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <form
        method="post"
        class="form"
        autocomplete="off"
        enctype="multipart/form-data"
        spellcheck="false"
      >
        <legend>Create Memory</legend>

        <div class="form__group">
          <input
            type="text"
            name="creator"
            class="form__input creator__name--field"
            id="creator"
            placeholder=""
            min="5"
            max="30"
            required
          />
          <label class="form__input__label" for="creator">Creator Name</label>
          <span class="creator__field--error form__field--error"></span>
        </div>

        <div class="form__group">
          <input
            type="text"
            name="title"
            class="form__input memory__title--field"
            id="title"
            placeholder=""
            min="10"
            max="50"
            required
          />
          <label class="form__input__label" for="title">Title</label>
          <span class="title__field--error form__field--error"></span>
        </div>

        <div class="form__group">
          <input
            type="text"
            name="message"
            class="form__input memory__message--field"
            id="message"
            placeholder=""
            min="10"
            max="300"
            required
          />
          <label class="form__input__label" for="message">Message</label>
          <span class="message__field--error form__field--error"></span>
        </div>

        <div class="form__group">
          <input
            type="text"
            name="tags"
            class="form__input memory__tags--field"
            id="tags"
            placeholder=""
          />
          <label class="form__input__label" for="tags"
            >Tags(comma separated)</label
          >
          <span class="tags__field--error form__field--error"></span>
        </div>

        <div class="form__group form__file__group">
          <input
            type="file"
            name="image"
            class="memory__image--field"
            id="file"
            required
            accept="image/png, image/jpeg, image/jpg, image/gif"
          />
          <span class="image__field--error form__field--error"></span>
        </div>

        <div class="form__submit__group">
          <button type="submit" name="create">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            <span>Create</span>
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
